{
    "presets": [
        ["@babel/preset-env",
          {
            "modules": false
          }
        ]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}